[package]
name = "echo_tcp_server"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = {version = "*" , features = ["full"]}

[[bin]]
name = "server"
path = "src/main.rs"

[[bin]]
name = "client"
path = "src/client.rs"
