[package]
name = "echo_tcp_server"
version = "0.1.0"
edition = "2024"

[dependencies]
threadpool = "1.8.1"

[[bin]]
name = "server"
path = "src/main.rs"

[[bin]]
name = "client"
path = "src/client.rs"
